/*
 * coloring example
 */
.text-editor {
    color: black;
    outline: none;
    background-color: whitesmoke;
    font-family: "Roboto Mono", monospace;
}

.text-editor span.hashtag {
    color: red;
}

.text-editor span.asterisk {
    color: blue;
}

.text-editor span.hyphen {
    color: green;
}
